@import '../styles/utils';

.SassComponent {
  background: $oc-gray-2;
    @include media('<768px') {
      background: $oc-gray-9;
    }
  display: flex;
  .box { // 일반 css에서는 .SassComponenet .box < 이런 모양
    cursor: pointer;
    transition: all 0.3s ease-in;
    &.red {
      // .red클래스와 함께 적용되었을 때
      background: $red;
      @include square(1)
    }
    &.orange {
      // .red클래스와 함께 적용되었을 때
      background: $orange;
      @include square(2)
    }
    &.yellow {
      // .red클래스와 함께 적용되었을 때
      background: $yellow;
      @include square(3)
    }
    &.green {
      // .red클래스와 함께 적용되었을 때
      background: $green;
      @include square(4)
    }
    &.blue {
      // .red클래스와 함께 적용되었을 때
      background: $blue;
      @include square(5)
    }
    &.indigo {
      // .red클래스와 함께 적용되었을 때
      background: $indigo;
      @include square(6)
    }
    &.violet {
      // .red클래스와 함께 적용되었을 때
      background: $violet;
      @include square(7)
    }
    &.hover {
      background-color: black;
    }
  }
}